.user-list {
  flex: 1;
  color: #000;
  border-bottom: 1px solid #C4C4C4;
}

.user-list-content {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 16px;
  gap: 16px;
  cursor: pointer;
}

.user-list-content:not(:last-child) {
  border-bottom: 1px solid rgb(231, 231, 231);
}

.user-pp {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: rgb(185, 182, 182);
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-info > p {
  color: #C8C8C8;
}