.search-input {
  display: flex;
  justify-content: center;
  padding: 32px 16px 16px;
  background-color:  #F3F3F3;
  outline: none;
}

.search-input input {
  width: 100%;
  background-color:  #F3F3F3;
  border: 1px solid #C8C8C8;
  padding: 14px 16px;
  outline: none;
}