.chat-container {
  display: flex;
  height: 100vh;
}


.left-side, .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.left-side {
  flex: 1;
  background-color:  #F3F3F3;
  border-right: 1px solid #e7e7e7;

}

.right-side {
  flex: 4;
}