.messages {
  flex: 1;
  padding: 56px 32px;
}

.messages-incoming, .messages-outgoing {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
}


.messages-incoming {
  color: #000;
  justify-content: flex-start;
}

.messages-incoming > p {
  width: 50%;
  padding: 16px;
  font-size: 14px;
  line-height: 21px;
  background-color: #F3F3F3;
}



.messages-outgoing {
  justify-content: flex-end;
  color: #fff;
}
.messages-outgoing > p {
  width: 50%;
  padding: 16px;
  font-size: 14px;
  line-height: 21px;
  background-color: #68B7FF;
}
